name: Build EXE

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install pyinstaller
        # もし他にも必要なライブラリがあればここに追記してください
        # 例: pip install pandas

    - name: Build EXE
      run: pyinstaller --onefile main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: my-executable
        path: dist/main.exe
